<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Server Resource Manager</title>
    <meta http-equiv="refresh" content="30">
    <link rel="shortcut icon" href="/static/favicon.jpg">

    <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <!-- <script src="static/stackpath/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
    <script src="static/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="static/js/1.10.25/file-size.js"></script>

    <!-- <link rel="stylesheet" href="static/stackpath/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="static/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <!-- <link rel="stylesheet" type="text/css" href="static/css/4.5.2/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="static/css/1.10.25/dataTables.bootstrap4.min.css">    
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">     -->
    <script type="text/javascript" charset="utf8" src="static/js/1.10.25/jquery.dataTables.min.js"></script>


    <script type="text/javascript" charset="utf8" src="static/js/1.10.25/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
           $('#dataTable').DataTable({
                "lengthMenu": [50,100,150,200],
                "order": [[4, "asc"]]
            });
           
            // $('#dataTable tbody').on( 'click', 'button', function () {
            //     let data = table.row( $(this).parents('tr') ).data();
            //     // window.location.href = '/detail';
            //     console.log(data[0])
            //     xhr.send("direc="+data[0])
            // } );
        } );
    </script>
    
    
    <!-- <script>
    function loadingButton(data){
        console.log("1111");
        console.log(data);
        $(data).click(function() {
        // disable button
        $(this).prop("disabled", false);
        // add spinner to button
        // return '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...'
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
        });
    }
    </script> -->

    <!-- <script>
        function createManageBtn() {
            return "<button id='manageBtn' type='button' class='btn btn-secondary' onclick='myFunction();'>Detail</button>";
        }
        function myFunction() {
            console.log("1111");
            document.getElementById('#myForm').submit();
        }
    </script>  -->
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $("#loader").fadeOut();
        })
    </script>
</head>

<body>
    <div id="loader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <!-- <div id="loader-wrapper">
        <div id="loader"></div>
     
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
     
    </div> -->

    <div class="container top-buffer">
        <div class="row">
            <div class="col-12">
                <nav class="navbar fixed-top navbar-dark bg-info">
                    <tr>
                        <a class="navbar-brand" href="/">  
                            <tr>
                                <img src="/static/kpc-logo.png" alt="kpc-logo" height="64px">
                            </tr>
                            <tr >
                                <button type="button" class="btn btn-info btn-lg">Home</button>
                            </tr>     
                        </a>
                    </tr>
                    <tr>
                        <a class="navbar-brand" href="/">  
                            File Server Resource Manager
                        </a>
                    </tr>
                </nav>
            </div>
        </div>
    </div>
    <div class="container" style="margin: 30px;">

    </div>
    
    <!-- <link rel="stylesheet" href="/static/css/5.1.0/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
    
    <div class="container" id="content">
        <div class="row">
            
            <table id="dataTable" class="table table-dark table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col" style="text-align: center;">Path FS03</th>
                    <th scope="col">Used (GB)</th>
                    <th scope="col">% Used</th>
                    <th scope="col">Limit (GB)</th>
                    <!-- <th scope="col">Quota Type</th> -->
                    <th scope="col">Available (GB)</th>
                    <th scope="col">More Detail</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% if res!="Not Found" %}
                        {% for i in range(0, lengthh) %}
                            
                        <tr>
                            <td> {{res[i]["Path"]}} </td>
                            <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["Used"]}}</td>
                            <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["UsedPercent"]}}</td>
                            <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["Limit"]}}</td>
                            <!-- <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["QuotaType"]}}</td> -->
                            <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["Available"]}}</td>
                            <td>
                                <form action="/detailfsx" name="direct" method="POST">
                                    <input type="hidden" name="direct" value="{{res[i]['Path']}}">
                                    <button id="btnFetch{{i}}" onclick='loadingButton("#btnFetch{{i}}")' class="btn-secondary btn-xs" type="submit">Detail</button>
                                </form>
                            </td>
                        </tr>                                            
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td style="word-wrap:break-word;min-width:150px; max-width:210px; text-align: left; vertical-align: middle;">{{ folder }}</td>
                            <td style="text-align: center;">Not found</td>
                            <td></td>
                        </tr>
                    {% endif %}
               
                </tbody>
            </table>
            
        </div>
              
    </div>


    <div class="container top-buffer">
        <div class="row">
            <div class="col-12">
                <nav class="navbar fixed-bottom navbar-dark bg-info">
                    <a class="navbar-brand" href="#">  
                    </a>
                    <div><span>Developed by: Kim @ IT-Ops KPC
                    </span></div>
                </nav>
            </div>
        </div>
    </div>

     
</body>
</html>