<!DOCTYPE html>
<html>
<link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="static/js/bootstrap.min.js"></script>
<script src="static/jquery.min.js"></script>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>File Server Resource Manager</title>
    <link rel="shortcut icon" href="/static/favicon.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/stackpath/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="static/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/stackpath/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">\
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container top-buffer">
        <div class="row">
            <div class="col-12">
                <nav class="navbar fixed-top navbar-dark bg-info">
                    <a class="navbar-brand" href="#">  
                        <img src="/static/kpc-logo.png" alt="kpc-logo" height="64px" ="#">
                        File Server Resource Manager
                    </a>
                    
                </nav>
            </div>
        </div>
    </div>
    
    <link rel="stylesheet" href="/static/css/5.1.0/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="/search" method="POST">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Input folder name" name="search">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 3rem;">
        <div class="row">
            {% if res!="Not found" %}
                {% for i in range(0, length) %}
            <div class="col-md-4">
                  <div class="card mb-4 shadow-sm" style="width: auto;">
                    <div class="card-body">
                      <p class="card-text text-secondary" id="dir{{i}}">{{ res[i] }}</p>
                    </div>
                  </div>
            </div>
                {% endfor %}
            {% else %}
                <p>
                    <tr>
                        <td style="word-wrap:break-word;min-width:150px; max-width:210px; text-align: left; vertical-align: middle;">{{ folder }}</td>
                        <td style="text-align: center;">Not found</td>
                        <td></td>
                    </tr>
                </p>
                
            {% endif %}
            
        </div>
              
    </div>

    <div class="container top-buffer">
        <div class="row">
            <div class="col-12">
                <nav class="navbar fixed-bottom navbar-dark bg-info">
                    <a class="navbar-brand" href="#">  
                    </a>
                    <div><span>Developed by: Kim @ IT-Ops KPC
                    </span></div>
                </nav>
            </div>
        </div>
    </div> 
</body>
</html>