<!DOCTYPE html>
<html lang="en">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="static/js/bootstrap.min.js"></script>
<script src="static/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Server Resource Manager</title>
    <link rel="shortcut icon" href="/static/favicon.jpg">
    <script src="static/stackpath/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="static/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/stackpath/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("#btnFetch").click(function() {
        // disable button
        $(this).prop("disabled", true);
        // add spinner to button
        $(this).html(
          `<span class="spinner-border spinner-border-bg"></span> Loading...`
        );
    });
});
    </script>
</head>
<body>
  <div class="container top-buffer">
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-top navbar-dark bg-info">
                <a class="navbar-brand" href="/">  
                    <img src="/static/kpc-logo.png" alt="kpc-logo" height="64px" ="#">
                    File Server Resource Manager
                </a>
                
            </nav>
        </div>
    </div>
  </div>
<div class="container" style="margin: 30px;">

</div>
    <div class="container">
      <div class="col-12">
        <table class="table table-striped table-responsive-lg table-hover table-dark" id="table1">
          <thead class="thead-dark">
            <tr>
              <th scope="col-9">Path FSX</th>
              <th scope="col-12">Share Path</th>
              <th scope="col-12">Source Template</th>
              <th scope="col-12">Limit</th>
              <th scope="col-12">Used</th>
              <th scope="col-12">Available</th>
              <th scope="col-12">Peek Usage</th>
            </tr>
          </thead>
          <tbody>
              {% if res!="Not Found" %}
                {% for i in range(0, length) %}
                  <form class="card card-body" action="/edit" method="POST">
                  <tr>
                    <td style="word-wrap:break-word;min-width:250px; max-width:100px; text-align: left; vertical-align: middle;">{{ folder }}</td>
                    <td style="word-wrap:break-word;min-width:250px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["SharePath"]}}</td>
                    <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["SourceTemplate"]}}</td>
                    <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["Limit"]}}</td>
                    <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["Used"]}}</td>
                    <td style="word-wrap:break-word;min-width:100px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["Available"]}}</td>
                    <td style="word-wrap:break-word;min-width:250px; max-width:100px; text-align: left; vertical-align: middle;">{{res[i]["PeakUsage"]}}</td>
                  </tr>  
                  </form>                   
                {% endfor %} 
              {% else %}
                <tr>
                  <td style="word-wrap:break-word;min-width:150px; max-width:210px; text-align: left; vertical-align: middle;">{{ folder }}</td>
                  <td style="text-align: center;">Not found</td>
                  <td></td>
                </tr>
              {% endif %}
          </tbody>
      </table>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row" id="back-button">
              <!-- <a href="/" id="btnFetch" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Back</a> -->
              <button id="btnFetch" onclick="window.location.href='/fsx'" type="button" class="btn btn-primary btn-lg" aria-pressed="true">Back</button>
            </div>
          </div>
        </div>
        
      </div>
      </div>
    </div>
    <div class="container top-buffer">
      <div class="row">
          <div class="col-12">
              <nav class="navbar fixed-bottom navbar-dark bg-info">
                  <a class="navbar-brand" href="#">  
                  </a>
                  <div><span>Developed by: Kim @ IT-Ops KPC
                  </span></div>
              </nav>
          </div>
      </div>
  </div>
    
</body>
</html>